/*----------------------------------------------------------
Variables
----------------------------------------------------------*/

//breakpoints
$max-width: em(1128);
$desktop-breakpoint: 1128px;
$tablet-breakpoint: 768px;

$mobile: new-breakpoint(max-width $tablet-breakpoint 4);
$tablet: new-breakpoint(min-width $tablet-breakpoint 12);
$desktop: new-breakpoint(min-width $desktop-breakpoint 12);

$open-sans: 'Open Sans', sans-serif;

/*
  Colors
*/

$white: #ffffff;
$black: #212121;
$black-alt: #333333;
$gray: #bdbdbd;


$padded: 38px;
$gutter: 24px;

$fontSizePercent: .2;